<!DOCTYPE html>
<html>
<head>
    <title>MediaMate Downloader</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>MediaMate</h1>
        <form action="/download" method="post">
            <input type="text" name="url" placeholder="Paste Facebook or YouTube link" required class="url-input">
            <button type="submit">Generate Download Links</button>
        </form>
    </div>

    <div class="footer">
        <p>Follow us on Facebook</p>
        <a class="fb-btn" href="https://facebook.com/yourpage" target="_blank">Follow on Facebook</a>
    </div>
</body>
</html>
